@media screen and (max-width: 800px) {
    .firstblock{
        width: 100%;
        height: 132vw;
        display: block;
        position: relative;
        z-index: 1;
    }
    .anim2{
        width: 100%;
        height: 66.53vw;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    } 
    .anim2_1{
        width: 99vw;
        height: 66.53vw;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .text1{
        width: 51vw;
        height: 21.75vw;
        top: 13.5vw;
        left: 28vw;
        position: absolute;
        z-index: 1001;
        transform: rotate(-8deg);
        background-image: url(../img/plashka1.svg);
        background-size: 100%;
        transition: .6s;
    }
    .text1 p{
        color: #F25CC0;
        font-size: 3vw;
        margin-top: 5.6vw;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .counting_sheep{
        width: 100%;
        height: 52.79vw;
        background-color: #F7ADF8;
        z-index: 2;
    }

    .sheep22{
        position: absolute;
        margin-top: 18vw;
        margin-left: 1vw;
    }
    .sheep21{
        position: absolute;
        margin-top: 14vw;
        margin-left: 8vw;
    }
    .sheep20{
        position: absolute;
        margin-top: 15vw;
        margin-left: 16vw;
    }
    .sheep19{
        position: absolute;
        margin-top: 18vw;
        margin-left: 25vw;
    }
    .sheep18{
        position: absolute;
        margin-top: 19vw;
        margin-left: 42vw;
    }
    .sheep17{
        position: absolute;
        margin-top: 16vw;
        margin-left: 40vw;
    }
    .sheep16{
        position: absolute;
        margin-top: 16.5vw;
        margin-left: 47vw;
    }.sheep15{
        position: absolute;
        margin-top: 5vw;
        margin-left: 3vw;
    }
    .sheep14{
        position: absolute;
        margin-top: 6vw;
        margin-left: 37vw;
    }
    .sheep13{
        position: absolute;
        margin-top: 6vw;
        margin-left: 20vw;
    }
    .sheep12{
        position: absolute;
        margin-top: 15vw;
        margin-left: 59vw;
    }
    .sheep11{
        position: absolute;
        margin-top: 17vw;
        margin-left: 74vw;
    }
    .sheep10{
        position: absolute;
        margin-top: -2vw;
        margin-left: 1vw;
    }
    .sheep9{
        position: absolute;
        margin-top: -0.5vw;
        margin-left: 6vw;
    }
    .sheep8{
        position: absolute;
        margin-top: -1vw;
        margin-left: 14vw;
    }
    .sheep7{
        position: absolute;
        margin-top: -3vw;
        margin-left: 22vw;
    }
    .sheep6{
        position: absolute;
        margin-top: -2vw;
        margin-left: 32vw;
    }
    .sheep5{
        position: absolute;
        margin-top: -3vw;
        margin-left: 42vw;
    }
    .sheep4{
        position: absolute;
        margin-top: 3vw;
        margin-left: 50vw;
    }
    .sheep3{
        position: absolute;
        margin-top: 7vw;
        margin-left: 68vw;
    }
    .sheep2{
        position: absolute;
        margin-top: -2vw;
        margin-left: 64vw;
    }
    .sheep1{
        position: absolute;
        margin-top: 3vw;
        margin-left: 74vw;
    }

    .puzzle{
        width: 99vw;
        height: 52.74vw;
        background-image: url(../img/fon1.svg);
        background-size: 100%;
        z-index: 1000;
    }
    .puzzleplay{
        position: relative;
        width: 50vw;
        height: 50vw;
        top: 1.43vw;
        left: 5.9vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .pzl_1{
        width: 25vw;
        height: 25vw;
    }
    .pzl_1 img{
        width: 25vw;
        height: 25vw;
    }
    .pzl_2{
        width: 25vw;
        height: 25vw;
    }
    .pzl_2 img{
        width: 25vw;
        height: 25vw;
    }
    .pzl_3{
        width: 25vw;
        height: 25vw;
    }
    .pzl_3 img{
        width: 25vw;
        height: 25vw;
    }
    .pzl_4{
        width: 25vw;
        height: 25vw;
    }
    .pzl_4 img{
        width: 25vw;
        height: 25vw;
    }
    .anim2_2{
        width: 40.76vw;
        height: 66.53vw;
        z-index: 999;
        background-color: #ffffff;
        display: none;
    }
    .sheep1, .sheep2, .sheep3, .sheep4, .sheep5, .sheep6, .sheep7, .sheep8, .sheep9, .sheep10{
        width: 23.34vw;
        height: 32.22vw;
    }
    .sheep11, .sheep12, .sheep13, .sheep14, .sheep15, .sheep16, .sheep17, .sheep18, .sheep19, .sheep20, .sheep21, .sheep22{
        width: 23.34vw;
        height: 32.22vw;
    }

    .text2{
        width: 44.16vw;
        height: 18.255vw;
        top: 38.5vw;
        left: 53vw;
        position: absolute;
        z-index: 1000;
        transform: rotate(7deg);
        background-image: url(../img/plashka2.svg);
        background-size: 100%;
        transition: .6s;
    }
    .text2 p{
        color: #2AA185;
        font-size: 2.29vw;
        margin-top: 6vw;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .text3{
        width:44.16vw;
        height: 18.255vw;
        top: 120.5vw;
        left: 0.5vw;
        position: absolute;
        z-index: 1000;
        transform: rotate(7deg);
        background-image: url(../img/plashka3.svg);
        background-size: 100%;
        transition: .6s;
    }
    .text3 p{
        color: #F25CC0;
        font-size:2.29vw;
        margin-top: 5vw;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .text4{
        width: 44.16vw;
        height: 18.255vw;
        top: -3vw;
        left: 53vw;
        position: absolute;
        z-index: 1000;
        transform: rotate(-7deg);
        background-image: url(../img/plashka4.svg);
        background-size: 100%;
        transition: .6s;
    }
    .text4 p{
        color: #8B85FF;
        font-size: 2.29vw;
        margin-top: 6vw;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .text5{
        width: 44.16vw;
        height: 18.255vw;
        top: 80.5vw;
        left: 21vw;
        position: absolute;
        z-index: 1000;
        transform: rotate(-7deg);
        background-image: url(../img/plashka2.svg);
        background-size: 100%;
        transition: .6s;
    }
    .text5 p{
        color: #2AA185;
        font-size: 2.29vw;
        margin-top: 6vw;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .text5:hover{
        transform: rotate(7deg);
    }
    
    .text6{
        width: 44.16vw;
        height: 18.255vw;
        top: 25vw;
        left: 0.5vw;
        position: absolute;
        z-index: 1000;
        transform: rotate(7deg);
        background-image: url(../img/plashka3.svg);
        background-size: 100%;
        transition: .6s;
    }
    .text6 p{
        color: #F25CC0;
        font-size: 2.29vw;
        margin-top: 6vw;
        text-align: center;
        display: flex;
        justify-content: center;
    }


    .thirdblock{
        width: 100%;
        height: 141vw;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .anim4_2{
        width: 40.76vw;
        height: 47.96vw;
        display: flex;
        justify-content: center;
        background-color: #F7ADF8;
        display: none;
    }

    .anim4{
        width: 40.76vw;
        height: 39.49vw;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .anim4_1{
        width: 99vw;
        height: 47.96vw;
        display: flex;
        justify-content: center;
        background-color: #F7ADF8;
    }
    .anim4_1 img{
        width: 200%;
        margin-top: -2vw;
        display: flex;
        justify-content: center;
    }

    .anim5{
        width: 99vw;
        height: 109.49vw;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .anim5_1{
        width: 99vw;
        height: 45.43vw;
        /* display: flex;
        justify-content: center; */
    }
    .anim5_1 img{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .anim5_2{
        width: 99vw;
        height: 64.59vw;
        display: flex;
        justify-content: center;
    }
    .anim5_3{
        width: 62.68vw;
        height: 56.06vw;
        display: flex;
        justify-content: center;
        background-color: #FFFFFF;
    }
    .anim5_4{
        width: 36.63vw;
        height: 56.06vw;
        display: flex;
        justify-content: center;
        background-color: #8B85FF;
        z-index: 1000;
    }
    .eyes{
        width: 16.03vw;
        height: 47.83vw;
        margin-top: 4.5vw;
        margin-left: 1vw;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .eyes1{
        width: 18.03vw;
        height: 8.65vw;
    }
    .bg1{
        background-image: url(../img/eyes1.svg);
        background-size: 100%;
    }
    .bg1_1{
        background-image: url(../img/eyes1_1.svg);
        background-size: 100%;
    }
    
    .eyes2{
        width: 18.03vw;
        height: 8.65vw;
    }
    .bg2{
        background-image: url(../img/eyes2.svg);
        background-size: 100%;
    }
    .bg2_2{
        background-image: url(../img/eyes2_2.svg);
        background-size: 100%;
    }
    
    .eyes3{
        width: 18.03vw;
        height: 8.65vw;
    }
    .bg3{
        background-image: url(../img/eyes3.svg);
        background-size: 100%;
    }
    .bg3_3{
        background-image: url(../img/eyes3_3.svg);
        background-size: 100%;
    }
    
    .eyes4{
        width: 18.03vw;
        height: 8.65vw;
    }
    .bg4{
        background-image: url(../img/eyes4.svg);
        background-size: 100%;
    }
    .bg4_4{
        background-image: url(../img/eyes4_4.svg);
        background-size: 100%;
    }
    .leave{
        width: 37.07vw;
        height: 9.39vw;
        margin-left: 3vw;
        margin-top: 9vw;
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .leave img{
        width: 8.33vw;
        height: 6.39vw;
    }

    .colorsheep{
        width: 47.89vw;
        height: 40.03vw;
        margin-top: 13vw;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }
    .greensheep{
        width: 19vw; 
        height: 17.6vw;
    }
    .purplesheep{
        width: 21.87vw;
        height: 19.7vw;
    }
    .pinksheep{
        width: 21.87vw;
        height: 17.91vw;
    }
    .lightpinksheep{
        width: 19vw;
        height: 17.6vw;
        margin-top: 1.5vw;
    }
    .pinksheepjump{
        animation: pinksheepjump 0.6s cubic-bezier(0.26, 0.5, 0.57, 1.05)  alternate both;
    }
    
    @keyframes pinksheepjump{
        0% {transform: translateY(0);}
        33%{transform: translateY(-4vw);}
        66%{transform: translateY(0vw);}
        100%{transform: translateX(40vw);}
    
    }
}